body {
   background-image: url("Wallpaper.jpg");
  }

  .Motivation
  {
      background-color: transparent;
      display: inline-block;
      width:250px;
      height:200px;
      position: absolute;
      border-radius: 20px;
      padding:5px;
      color:white;
  }

  .Motivation1
  {
      background-color: transparent;
      display: inline-block;
      width:250px;
      height:200px;
      position: absolute;
      margin-left: 750px;
      border-radius: 20px;
      padding:5px;
      color:white;
  }
  

  .section {
    background-image:url("clok.png");
    background-position: -110px -20px ;
    background-size: 600px;
    /* padding: 20px; */
    width: 380px;
    height: 380px;
    border-radius: 70%;
    margin: 0 auto;
    margin-top: 30px;

    display: grid;
    justify-content: center;
  }

  #analogClock {
    display: grid;
    justify-items: center;
    align-items: center;
  }

  #analogClock > * {
    grid-area: 1 / 1;
  }

  #analogClock .center{
    width: 10px;
    height: 10px;
    background-color:  #E83151;
    border: 5px solid #FFF;
    border-radius: 50%;
    position: relative;
    z-index: 100;
    
  }

  #analogClock .second,
  #analogClock .hour,
  #analogClock .minute {
    box-shadow: 0 0 10px #222;
    position: relative;
    transform-origin: left;
    border-radius: 10px;
  }

  #analogClock .second {
    height: 0px;
    width: 140px;
    border-top: 2px solid #E83151;

    left: 70px;
    top: 0px;

    transform: rotate(var(--seconds));
  }

  #analogClock .hour {
    height: 0px;
    width: 75px;
    border-top: 8px solid #FFF;

    left: 40px;
    top: 0px;

    transform: rotate(var(--hours));
  }

  #analogClock .minute {
    height: 0px;
    width: 140px;
    border-top: 4px solid #FFF;

    left: 70px;
    top: 0px;

    transform: rotate(var(--minutes));
  }
